
*{font-family: 'Play', sans-serif;}
.box {
	background-color: magenta;
	border: 1px solid;
}

.round {
	height: 200px;
	width: 170px;
}

.sign-in-facebook {
	background-position: -9px -7px;
	background-repeat: no-repeat;
	background-size: 39px 43px;
	padding-left: 25px;
	padding-right: 25px;
	color: #000;
}

.sign-in-facebook:hover {
	background-position: -9px -7px;
	background-repeat: no-repeat;
	background-size: 39px 43px;
	color: #000;
}

p {
	font-weight: bold;
}

.strong {
	font-weight: bold;
}



/*.body-wrap {
	min-height: 700px;
}
*/


nav {
	margin-top: 60px;
	box-shadow: 5px 4px 5px #000;
}

.top-cont {
	background-color: orange;
}

.p-img{
height:220px;
width:200px;
}
.main-wrapper{
	background-color:black;
	
}
#mail-nav{
	background-color:#F8F8F8;
	
}
.footer-text
{
	color:white;
	margin-top:8px;
	font-size:16px;
	word-spacing: 2px;
	padding-top:5px;
	padding-bottom:5px;
}
.btn-pos
{
	position:relative;
	left:50px;
	
}
.back
{
	background-color:black;
}
#footer
{
	margin-top:10px;
	position:relative;
	top:550px;
}
.input-size
{
	width:250px;
}
.jumbotron1 {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

}

#sidebar-wrapper {
  top: 52px;
  left: -200px;
  width: 200px;
 background-color: #5677fc;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}

.main-wrapper-mail .container .footer-text{
	color:#555;
}
@media (max-width: 480px) {
    .mail-div {
        top: 50%; /* IMPORTANT */
        left: 50%; /* IMPORTANT */
        display: block;
        position: absolute;
        background: url(images/background.png) no-repeat center center;
        width: 750px;
        height: 417px;

        margin-top: -208.5px; /* HALF OF THE HEIGHT */
        margin-left: -375px; /* HALF OF THE WIDTH */
    }
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}